<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('../partials/head.ejs') %>

  <body class="product_edit">
    <!-- Header -->
    <%- include('../partials/header.ejs') %>

    <form action="/bills/billEditCRUD/<%= facturaCrud.id %>?_method=PATCH" method="POST">
        <div class="imgcontainer">
          <h1>Edit</h1>
        </div>
          <fieldset id="left">
            <label for="id_usuario"><b>Usuario</b></label>
            <input type="text" placeholder="ingrese el usuario" name="id_usuario"  value="<%= facturaCrud.id_usuario %>" readonly>
            <label for="id_estadofactura"><b>Estado factura</b></label>
            <input type="text" placeholder="ingrese la estado factura" name="id_estadofactura"  value="<%= facturaCrud.id_estadofactura %>" required>
            <label for="envio"><b>Envio</b></label>
            <input type="text" placeholder="ingrese el envio" name="envio"  value="<%= facturaCrud.envio %>" readonly>
            <label for="impuesto"><b>Impuesto</b></label>
            <input type="text" placeholder="ingrese el impuesto" name="impuesto"  value="<%= facturaCrud.impuesto %>" readonly>
            <label for="total"><b>Total</b></label>
            <input type="text" placeholder="ingrese el total" name="total"  value="<%= facturaCrud.total %>" readonly>
            <label for="id_modopago"><b>Modopago</b></label>
            <input type="text" placeholder="ingrese el modo de pago" name="id_modopago"  value="<%= facturaCrud.id_modopago %>" readonly>
            <label for="fecha"><b>fecha</b></label>
            <input type="text" placeholder="ingrese el fecha" name="fecha"  value="<%= facturaCrud.fecha %>" readonly>
          </fieldset>
          <fieldset id="right">
            <label for="id_pais"><b>Pais</b></label>
            <input type="text" placeholder="ingrese el pais" name="id_pais"  value="<%= facturaCrud.id_pais %>" readonly>
            <label for="id_provincia"><b>Provincia</b></label>
            <input type="text" placeholder="ingrese el provincia" name="id_provincia"  value="<%= facturaCrud.id_provincia %>" readonly>
            <label for="ciudad"><b>Ciudad</b></label>
            <input type="text" placeholder="ingrese la ciudad" name="ciudad"  value="<%= facturaCrud.ciudad %>" readonly>
          </fieldset>
          <fieldset id="center">
            <label for="nombrecompleto"><b>Nombre completo</b></label>
            <input type="text" placeholder="ingrese la descripcion corta" name="nombrecompleto"  value="<%= facturaCrud.nombrecompleto %>" readonly>
            <label for="correoelectronico"><b>Correo electronico</b></label>
            <input type="text" placeholder="ingrese la correo electronico" name="correoelectronico"  value="<%= facturaCrud.correoelectronico %>" readonly>
            <label for="direccion"><b>Direccion</b></label>
            <input type="text" placeholder="ingrese la direccion" name="direccion"  value="<%= facturaCrud.direccion %>" readonly>
            <label for="numerotelefono"><b>Numero telefono</b></label>
            <input type="text" placeholder="ingrese la número de telefono" name="numerotelefono"  value="<%= facturaCrud.numerotelefono %>" readonly>
            <label for="detalleadicionales"><b>Descripcion detallada</b></label>
            <textarea name="detalleadicionales" id="detalleadicionales" cols="30" rows="10" readonly><%= facturaCrud.detalleadicionales %></textarea>
            <!-- <input type="file" name="imagen"  value="<%= facturaCrud.publicacion %>" readonly>-->
        </fieldset>
        </div>
        <div class="container2">
          <button type="submit" class="button">Actualizar</button>
        </div>
      </form>
      </main>

      <!-- Footer -->
      <%- include('../partials/footer.ejs') %>
  </body>

</html>