<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('../partials/head.ejs') %>
  <body class="product_edit">
    <!-- Header -->
    <%- include('../partials/header.ejs') %>
      <form action="/products/productInsertCRUD" method="POST" enctype="multipart/form-data">
        <div class="imgcontainer">
          <h1>Creación de un producto en e<span>C</span>omic</h1>
        </div>
        <% if(typeof alert !='undefined' ) { %>
          <% alert.forEach(function(error) { %>
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <%= error.msg %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
            </div>
            <% }) %>
              <% } %>
                <fieldset id="left">
                  <label for="titulo"><b>Titulo</b></label>
                  <input type="text" placeholder="Ingrese el titulo" name="titulo">
                  <label for="temporada"><b>Temporada</b></label>
                  <input type="text" placeholder="Ingrese la temporada" name="temporada">
                  <label for="volumen"><b>Volumen</b></label>
                  <input type="text" placeholder="Ingrese el volumen" name="volumen">
                  <label for="stock"><b>Stock</b></label>
                  <input type="text" placeholder="Ingrese el stock" name="stock">
                  <label for="descontinuado"><b>Descontinuado</b></label>
                  <input type="text" placeholder="Ingrese el descontinuado" name="descontinuado">
                </fieldset>
                <fieldset id="right">
                  <label for="id_categoria"><b>Categoría</b></label>
                  <!-- <input type="text" placeholder="Ingrese la categoria" name="id_categoria"> -->
                  <select name="id_categoria" placeholder="Ingrese la categoria">
                    <option disabled selected value> -- select an option -- </option>
                    <% if(typeof promCategoria !='undefined' ) { %>
                      <% promCategoria.forEach(function(categoria) { %>
                        <option value="<%= categoria.id %>">
                          <%= categoria.nombrecategoria %>
                        </option>
                        <% }) %>
                          <% } %>
                  </select>
                  <label for="id_pais"><b>País</b></label>
                  <!-- <input type="text" placeholder="Ingrese el país" name="id_pais"> -->
                  <select name="id_pais" placeholder="Ingrese el país">
                    <option disabled selected value> -- select an option -- </option>
                    <% if(typeof promPais !='undefined' ) { %>
                      <% promPais.forEach(function(pais) { %>
                        <option value="<%= pais.id %>">
                          <%= pais.nombre %>
                        </option>
                        <% }) %>
                          <% } %>
                  </select>
                  <label for="publicacion"><b>Fecha de publicación</b></label>
                  <input type="date" placeholder="Ingrese la fecha de publicacion" name="publicacion">
                  <label for="precionormal"><b>Precio normal</b></label>
                  <input type="text" placeholder="Ingrese el precio" name="precionormal">
                  <label for="precio"><b>Precio</b></label>
                  <input type="text" placeholder="Ingrese el precio" name="precio">
                </fieldset>
                <fieldset id="center">
                  <label for="descripcioncorta"><b>Descripción corta</b></label>
                  <input type="text" placeholder="Ingrese la descripcion corta" name="descripcioncorta">
                  <label for="descripciondetallada"><b>Descripción detallada</b></label>
                  <textarea name="descripciondetallada" id="descripciondetallada" cols="30" rows="10"></textarea>
                </fieldset>
                <fieldset id="center">
                  <label for="img"><b>Imagen</b></label>
                  <input type="file" name="imagen">
                </fieldset>
                </div>
                <div class="container2">
                  <button type="submit" class="button">Guardar producto</button>
                </div>
      </form>
      </main>
      <!-- Footer -->
      <%- include('../partials/footer.ejs') %>
  </body>
</html>