<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('../partials/head.ejs') %>

  <body class="product_edit">
    <!-- Header -->
    <%- include('../partials/header.ejs') %>

    <form action="/products/productEditCRUD/<%= productoCrud.id %>?_method=PATCH" method="POST"  enctype="multipart/form-data">
        <div class="imgcontainer">
          <h1>Edit</h1>
        </div>
        <fieldset id="left">
          <label for="titulo"><b>Titulo</b></label>
          <input type="text" placeholder="ingrese el titulo" name="titulo" value="<%= productoCrud.titulo %>">
          <label for="temporada"><b>Temporada</b></label>
          <input type="text" placeholder="ingrese la temporada" name="temporada" value="<%= productoCrud.temporada %>">
          <label for="volumen"><b>Volumen</b></label>
          <input type="text" placeholder="ingrese el volumen" name="volumen" value="<%= productoCrud.volumen %>">
          <label for="stock"><b>Stock</b></label>
          <input type="text" placeholder="ingrese el stock" name="stock" value="<%= productoCrud.stock %>">
          <label for="descontinuado"><b>Descontinuado</b></label>
          <input type="text" placeholder="ingrese el descontinuado" name="descontinuado" value="<%= productoCrud.descontinuado %>">
          <label for="precionormal"><b>Precio normal</b></label>
          <input type="text" placeholder="ingrese el precio normal" name="precionormal" value="<%= productoCrud.precionormal %>">
          <label for="precio"><b>precio</b></label>
          <input type="text" placeholder="ingrese el precio" name="precio"  value="<%= productoCrud.precio %>">
        </fieldset>
        <fieldset id="right">
          <label for="id_categoria"><b>Categoria</b></label>
          <input type="text" placeholder="ingrese la categoria" name="id_categoria"  value="<%= productoCrud.id_categoria %>">
          <label for="id_pais"><b>País</b></label>
          <input type="text" placeholder="ingrese el país" name="id_pais"  value="<%= productoCrud.id_pais %>">
          <label for="publicacion"><b>Fecha de publicación</b></label>
          <input type="date" placeholder="ingrese la fecha de publicacion" name="publicacion"  value="<%= productoCrud.publicacion %>">
        </fieldset>
        <fieldset id="center">
          <label for="descripcioncorta"><b>Descripción corta</b></label>
          <input type="text" placeholder="ingrese la descripcion corta" name="descripcioncorta"  value="<%= productoCrud.descripcioncorta %>" >
          <label for="descripciondetallada"><b>Descripcion detallada</b></label>
          <textarea name="descripciondetallada" id="descripciondetallada" cols="30" rows="10"><%= productoCrud.descripciondetallada %></textarea>
        </fieldset>
        <fieldset id="center">
          <label for="img"><b>Imagen</b></label>
          <input type="file" name="imagen">
        </fieldset>
        </div>
        <div class="container2">
          <button type="submit" class="button">Actualizar</button>
        </div>
      </form>
      </main>

      <!-- Footer -->
      <%- include('../partials/footer.ejs') %>
  </body>

</html>