<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('../partials/head.ejs') %>

  <body class="product_edit">
    <!-- Header -->
    <%- include('../partials/header.ejs') %>
      <form action="/users/userEdit/<%= userToEdit.id %>?_method=PATCH" method="POST" enctype="multipart/form-data">
        <div class="imgcontainer">
          <h1>Edit</h1>
        </div>

        <fieldset id="left">
          <label for="id"><b>Identificador</b></label>
          <input type="text" placeholder="ingrese el código del comic" name="id" value="<%= userToEdit.id %>" required>
          <label for="firstname"><b>Nombre</b></label>
          <input type="text" placeholder="ingrese el título del comic" name="firstname" value="<%= userToEdit.firstname %>" required>
          <label for="lastname"><b>Apellidos</b></label>
          <input type="text" placeholder="ingrese la temporada del comic" name="lastname" value="<%= userToEdit.lastname %>" required>
          <label for="gender"><b>Genero</b></label>
          <input type="text" placeholder="ingrese el volumen del comic" name="gender" value="<%= userToEdit.gender %>" required>
        </fieldset>
        <fieldset id="right">
          <label for="email"><b>Correo electronico</b></label>
          <input type="text" placeholder="ingrese el precio del comic" name="email" value="<%= userToEdit.email %>" required>
          <label for="phonenumber"><b>Teléfono / Celular</b></label>
          <input type="text" placeholder="ingrese un breve texto del comic" name="phonenumber" value="<%= userToEdit.phonenumber %>" required>
          <label for="city"><b>Ciudad</b></label>
          <input type="text" placeholder="ingrese el texto del comic" name="city" value="<%= userToEdit.city %>" required>
          <label for="category"><b>Autor</b></label>
          <input type="text" placeholder="ingrese el autor del comic" name="category" value="<%= userToEdit.category %>" required>
        </fieldset>
        <fieldset id="center">
          <label for="img"><b>Imagen</b></label>
          <input type="file" name="img" required>
          </fieldset>
        </div>

        <div class="container2">
          <button type="submit" class="button">Actualizar</button>
        </div>
      </form>
      </main>
      <!-- Footer -->
      <%- include('../partials/footer.ejs') %>
  </body>

</html>