<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('../partials/head.ejs') %>

  <body class="product_edit">
    <!-- Header -->
    <%- include('../partials/header.ejs') %>
      <form action="/users/userEdit/<%= userToEdit.id %>?_method=PATCH" method="POST" enctype="multipart/form-data">
        <div class="imgcontainer">
          <h1>Edición del usuario <%= userToEdit.id %> en e<span>C</span>omic</h1>
        </div>

        <fieldset id="left">
          <label for="firstname"><b>Nombre</b></label>
          <input type="text" placeholder="ingrese el título del comic" name="firstname" value="<%= userToEdit.firstname %>">
          <label for="lastname"><b>Apellidos</b></label>
          <input type="text" placeholder="ingrese la temporada del comic" name="lastname" value="<%= userToEdit.lastname %>">
          <label for="category"><b>Categoría</b></label>
          <select size="1" autocomplete="role" data-backup="role" class="field__input field__input--select"
            aria-required="true" name="category" id="category" placeholder="Ingrese la categoria">
            <option disabled="disabled" selected="selected" value="---">---</option>
            <option data-code="US" value="user" value="<%= locals.old && old.category === 'user' ? 'selected' : '' %>">
              Usuario</option>
            <option data-code="AD" value="admin"
              value="<%= locals.old && old.category === 'admin' ? 'selected' : '' %>">Administrador</option> 
          </select>
        </fieldset>
        <fieldset id="right">
          <label for="email"><b>Correo electronico</b></label>
          <input type="text" placeholder="ingrese el precio del comic" name="email" value="<%= userToEdit.email %>">
          <label for="phonenumber"><b>Teléfono / Celular</b></label>
          <input type="text" placeholder="ingrese un breve texto del comic" name="phonenumber" value="<%= userToEdit.phonenumber %>">
          <label for="city"><b>Ciudad</b></label>
          <input type="text" placeholder="ingrese el texto del comic" name="city" value="<%= userToEdit.city %>" >
          <label for="password"><b>Contraseña</b></label>
          <input type="text" placeholder="Ingrese la contraseña" name="password">
        </fieldset>
        <fieldset id="center">
          <label for="img"><b>Imagen</b></label>
          <input type="file" name="img" required>
          </fieldset>
        </div>
        <% if (locals.errors) { 
          errors.forEach(error => { %>
          <p class="errors">
            <%= error.msg %>
          </p>
        <% }) 
         } %>
        <div class="container2">
          <button type="submit" class="button">Actualizar</button>
        </div>
      </form>
      </main>
      <!-- Footer -->
      <%- include('../partials/footer.ejs') %>
  </body>

</html>