<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('../partials/head.ejs') %>

  <body class="product_detail">
    <!-- Header -->
    <%- include('../partials/header.ejs') %>

      <main class="main">
        <div class="box">
          <div class="container-1">
            <span class="icon"><i class="fa fa-search fa-2x"></i></span>
            <input type="search" id="search" placeholder="Search..." />
          </div>
        </div>
        <h2 class="Listardoh2">Listado de usuarios</h2>
        <table id="myTable" width="100%" class="fl-table table-wrapper">
          <thead>
            <tr>
              <th>id</th>
              <th>nombre</th>
              <th>apellido</th>
              <th>correoelectronico</th>
              <!-- <th>password</th> -->
              <th>numerotelefono</th>
              <th>id_pais</th>
              <th>id_provincia</th>
              <th>imagen</th>
            </tr>
          </thead>
          <tbody>
            <% usuarioCrud.forEach(function(user){ %>
              <tr>
                <td>
                  <%= user.id %>
                </td>
                <td>
                  <%= user.nombre %>
                </td>
                <td>
                  <%= user.apellido %>
                </td>
                <td>
                  <%= user.correoelectronico %>
                </td>
                <!-- <td>
                  <%= user.contraseña %>
                </td> -->
                <td>
                  <%= user.numerotelefono %>
                </td>
                <td>
                  <%= user.id_pais %>
                </td>
                <td>
                  <%= user.id_provincia %>
                </td>
                <td>
                  <%= user.imagen %>
                </td>
              </tr>
              <% }) %>
          </tbody>
        </table>
      </main>
      <script src="/js/tablet.js"></script>
      <!-- Footer -->
      <%- include('../partials/footer.ejs') %>
  </body>

</html>